.back-button {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #f1ecec;
    border: none;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}