
.about-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  .about-h1 {
    margin-bottom: 20px;
  }
  
  .about-h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .about-h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-para {
    line-height: 1.6;
  }

  .about-image{
    display: block;
    margin: auto;
  }